
body {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header { 
   text-align: center;
   margin; 5 px;
   padding: 10px 10px 10px 10px;
}

footer {
	font-style: italic;
	font-size: 90%;
}

